.card {
  background-color: #colors[white];
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem #000;
  border: 0.0625rem solid #colors[gray-950];
  padding: 1.5rem;

  & > :nth-child(n):not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__banner {
    border-radius: 0.625rem;
    display: block;
    height: 12.5rem;
    object-fit: cover;
    width: 100%;
  }

  &__tag {
    border-radius: 0.25rem;
    background-color: #colors[yellow];
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
  }

  &__content > :nth-child(n):not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
